.title {
  flex-basis: 100%;
  text-align: left;
  line-height: normal;
}
.btn {
  border: 0;
  background: none;
  color: white;
  margin-right: 1rem;
}
.btn:hover {
  border-bottom: 3px solid #ffffff50;
}
.active {
  border-bottom: 3px solid white !important;
}
.descriptionContainer {
  text-align: left;
}
.destinationContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.planetImage {
  flex-basis: 40%;
  width: 100%;
  height: 100%;
}
