.title {
  flex-basis: 100%;
  text-align: left;
  line-height: normal;
}
.btn {
  border: 0;
  background: none;
  color: white;
  margin-right: 1rem;
}
.btn:hover {
  border-bottom: 3px solid #ffffff50;
}
.active {
  border-bottom: 3px solid white !important;
}
.descriptionContainer {
  text-align: left;
}
.destinationContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.btnDescContainer {
  flex-basis: 40%;
}

.planetImage {
  flex-basis: 40%;
  width: 30rem;
  height: 100%;
  animation: fadeIn 0.5s ease-in forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-width: 1024px) {
  .descriptionContainer {
    text-align: center;
  }
  .btnDescContainer {
    flex-basis: 60%;
  }
}

@media (max-width: 768px) {
  .btnDescContainer {
    flex-basis: 100%;
  }
}
