.title {
  flex-basis: 100%;
  text-align: left;
  line-height: normal;
}

.technologyContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 10%;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
