.title {
  flex-basis: 100%;
  text-align: left;
  line-height: normal;
  margin-bottom: 6.25rem;
}

.imageContainer {
  flex-basis: 40%;
}

.imageContainer img {
  width: 100%;
}

.btn {
  box-sizing: border-box;

  width: 5rem;
  height: 5rem;

  border: 1px #ffffff25 solid;
  background-color: transparent;
  color: white;
  border-radius: 999px;
  transition: all 0.3s ease;
}

.btn:hover {
  border: 1px #ffffff solid;
}

.active {
  background-color: white;
  color: black;
}

.technologyContainer {
  display: flex;
  margin-left: 10%;
  height: 100%;
  text-align: left;
  align-items: center;
  flex-wrap: wrap;
}

.techButtons {
  display: flex;
  flex-direction: column;
  flex-basis: 5%;
  gap: 30px;
}

.descriptionContainer {
  flex-basis: 30%;
  flex-grow: 1;
  padding: 0 5rem;
}

@media (max-width: 1024px) {
  .title {
    align-self: flex-start;
    margin: 0 10% 10% 10%;
  }
  .technologyContainer {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    margin: 0;
  }
  .descriptionContainer {
    order: 2;
  }
  .techButtons {
    order: 1;
    flex-direction: row;
  }
  .imageContainer {
    width: 100%;
  }
}
