.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.PageContainer {
  height: calc(100vh - 140px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-content.slide-right {
  animation: slideInRight 0.5s ease-out;
  animation-fill-mode: backwards;
}

.page-content.slide-left {
  animation: slideInLeft 0.5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.bg-home,
.bg-destination,
.bg-crew,
.bg-technology {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-x: hidden;
}

.bg-home {
  background-image: url('./assets/home/background-home-mobile.jpg');
}

@media (min-width: 768px) {
  .bg-home {
    background-image: url('./assets/home/background-home-tablet.jpg');
  }
}

@media (min-width: 1024px) {
  .bg-home {
    background-image: url('./assets/home/background-home-desktop.jpg');
  }
}

.bg-destination {
  background-image: url('./assets/destination/background-destination-mobile.jpg');
}

@media (min-width: 768px) {
  .bg-destination {
    background-image: url('./assets/destination/background-destination-tablet.jpg');
  }
}

@media (min-width: 1024px) {
  .bg-destination {
    background-image: url('./assets/destination/background-destination-desktop.jpg');
  }
}

.bg-crew {
  background-image: url('./assets/crew/background-crew-mobile.jpg');
}

@media (min-width: 768px) {
  .bg-crew {
    background-image: url('./assets/crew/background-crew-tablet.jpg');
  }
}

@media (min-width: 1024px) {
  .bg-crew {
    background-image: url('./assets/crew/background-crew-desktop.jpg');
  }
}

.bg-technology {
  background-image: url('./assets/technology/background-technology-mobile.jpg');
}

@media (min-width: 768px) {
  .bg-technology {
    background-image: url('./assets/technology/background-technology-tablet.jpg');
  }
}

@media (min-width: 1024px) {
  .bg-technology {
    background-image: url('./assets/technology/background-technology-desktop.jpg');
  }
}
