.linkContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 64px;
  gap: 48px;
  height: 96px;
  width: 55%;
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(40px);
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 0;
}
.linkContainer::before {
  content: '';
  position: absolute;
  right: 90%;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #ffffff;
  opacity: 0.25;
  z-index: 2;
}

.linkContainer button {
  background: none;
  border: none;
  color: white;
}

.linkContainer button:hover {
  border-bottom: 3px solid #ffffff50;
}

.active {
  border-bottom: 3px solid #ffffff !important;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .linkContainer {
    display: none;
  }
}

@media (max-width: 1024px) {
  .linkContainer::before {
    display: none;
  }
}
