.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.logo {
  margin: 0 64px;
}

@media (max-width: 768px) {
  .navContainer {
    margin-top: 20px;
  }

  .logo {
    margin: 0 20px;
  }
}
